{{> head }}
{{> navbar }}

<div class="row">
   
    <div class="col-8">
        <h1>Goku SSJ1</h1>
        <p>Esta imagen ilustra al personaje de la serie Dragon ball z <br></p>
        <p>Llamado goku en su estado de Super Sayajin 1</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/goku-ssj1.png" class="img-thumbnail" class="goku">
    </div>

</div>        

{{> footer}}
    