

footer{
    background-color: #353A3F;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 10px;
}

.goku{
    width: 200px;
    height: 268.906px;
}